@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Roboto');
*{box-sizing: border-box;}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  margin: 0;
  background-image:url('bg1.jpg');
  background-size:cover;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {text-decoration: none;}
.top-menu {
  background: white;
  position: relative;
}
.top-menu:after, 
.submenu:after {
  content: "";
  display: table;
  clear: both;
}
.top-menu > li {
  display: inline-block;
  float: left;
}
.top-menu > li > a {
  display: block;
  padding: 18px;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #000;
  transition: .2s linear;
}
.top-menu > li > a:hover {color: #B03062;}
.dropdown:after {
  content: "\f107";
  font-family: FontAwesome;
  margin-left: 4px;
  vertical-align: top;
}
.submenu, 
.submenu-standart {
  border-top: 1px solid #e5e5e5;
  box-shadow: 0 3px 5px 0 rgba(0,0,0,.07);
  background: white;
  padding: 25px 0;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  transform: translate3d(0,30px,0);
  transition: .5s ease-out;
  transform-origin: 0% 0%;
}
.submenu {width: 100%;}
.submenu-standart {
  min-width: 200px;
  padding: 10px 0;
}
.dropdown-standart {position: relative;}
.top-menu > li:hover .submenu, 
.top-menu > li:hover .submenu-standart {
  opacity: 1;
  visibility: visible;
  transform: translate3d(0,0,0);
}
.submenu > li {
  float: left;
  width: calc(100% / 3);
  padding: 0 18px;
  border-right: 1px solid #e5e5e5;
}
.submenu-standart li {padding: 0 18px;}
.submenu > li:last-child {border-right: none;}
.submenu img {
  display: block;
  width: 100%;
}
.submenu li a, 
.submenu-standart li a {
  display: block;
  padding: 5px 0;
  color: #666;
  font-size: 13px;
}
.submenu li .link-image {padding: 0;}
.submenu li a:hover {color: #B03062;}
.submenu h3 {
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  font-weight: 400;
  margin: 10px 0;
}
.container {
  max-width: 960px;
  margin: 0 auto;
}
.content {
  margin: 20px auto;
  padding: 0 20px;
}
@media(max-width:768px) {
  .top-menu li {
    width: 100%;
    height: auto!important;
  }
  .top-menu > li {border-bottom: 1px solid #e5e5e5;}
  .top-menu > li > a {padding: 18px}
  .submenu,
  .submenu-standart {
    position: relative;
    display: none;
    box-shadow: none;
    padding: 0;
    background: rgba(0,0,0,.02);
  }
  .submenu-standart {padding: 10px 0;}
  .submenu > li {
    border-right: none;
    border-bottom: 1px solid #e5e5e5;
    padding: 18px;
  }
  .submenu h3 {margin: 0 0 10px}
  .submenu .image-header {margin: 10px 0}
  .submenu li:last-of-type {border-bottom: none}
  .top-menu > li:hover .submenu,
  .top-menu > li:hover .submenu-standart {display: block;}
}
.more{position:absolute;font-size:40px;
left:720px;
top:70px;
color:#8B0000;
list-style:none;}
a:link{
		color: #800000;}
	a:hover{color: #800000;}
.redl {
}
.redl span {
  color: #ff0000;
  font-family: Times, serif;
  text-transform: uppercase;
  text-shadow: -1px 0 1px #ff1a1a, 0 1px 1px #FF0000 , 5px 5px 10px rgb(8 8 8 / 40%), -5px -5px 10px rgb(8 8 8 / 40%);
}

.redl span:before {
content: attr(data-double);
  z-index: 1;
  background: linear-gradient(to bottom, #800000 14%,#800000 16%, #660000 20%, #990000 22%,#E00000   40%,#700000 84%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgb(0 0 0 / 0%);
  text-shadow: none;
}	
footer {margin: 0 auto;
   width: 100%;
   max-width: 930px;
   padding: 0 15px;
   height:180px;
   background-color: #3A3B3C;
   padding-top:60px;
padding-left:100px;
font-size:20px;
}

.about{
	position:relative;
	font-size:20px;
left:10px;
top:-8px;
color:#8B0000;}
.team{position:relative;
font-size:20px;
left:210px;
top:-30px;
color:#8B0000;}
.news{position:relative;
font-size:20px;
left:410px;
top:-54px;
color:#8B0000;}
.contact{position:relative;
font-size:20px;
left:610px;
top:-77px;
color:#8B0000;
}
.rk20{position:relative;
font-size:20px;
left:150px;
top:-30px;
color:#8B0000;
}
.widget2 {


box-shadow: 2px 2px 2px 3px #8B0000;
}
/* блок для виджетов */
.widget {

left:1150px;
top:540px;
   background: white;
   box-shadow: 1px 1px 3px 2px #8B0000;
}
.container {
   margin: 0 auto;
   width: 100%;
   max-width: 960px;
   padding: 0 15px;
}
header {
   width: 100%;
   height:150px;
   background: yellow;
   box-shadow: 3px 3px 1px rgba(0, 0, 0, .05);
   padding: 15px 0;
   margin-bottom: 30px;
   position: relative;
}
article{background:#8B0000;}
.stripe1 {
height:37px;
width: 300px;
background-color:gray;
   box-shadow: 0px 0px 0px 1px #8B0000;
}
.stripe2{
height:37px;
width: 300px;
background-color:gray;
box-shadow: 1px 1px 1px 2px #8B0000;
}
.stripe3{
height:28px;
width: 250px;
background-color:#C4AEAD;
   
}
main{
	margin: 0 auto;
    width: 98%;
    background-image:url('wall1.jpg');
	height:980px;
    max-width: 928px;

}
.krasiva_znakov {
  margin: 1px 0;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: 3vw 0;
  padding-left: 1vw ;
}
.krasiva_znakov span {
  color: #ddcaa0;
  font-family: Times, serif;
  position: relative;
  text-transform: uppercase;
  font-size: 70px;
  letter-spacing: 1vw;
  line-height: 1;
  margin: 0;
  font-weight: 300;
  text-shadow: -1px 0 1px #d1c29e, 0 1px 1px #dbcca5, 5px 5px 10px rgb(8 8 8 / 40%), -5px -5px 10px rgb(8 8 8 / 40%);
}
.krasiva_znakov span + span {
	margin: 10px;
  font-size: 1vw;
  letter-spacing: 13px;
  
}
.krasiva_znakov span:before {
content: attr(data-double);
  left: 0;
  top: 0;
  position: absolute;
  z-index: 1;
  background: linear-gradient(to bottom, #a19170 14%,#7c6845 16%, #95876a 20%, #938568 22%,#f9e5ab 40%,#58492a 84%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgb(0 0 0 / 0%);
  text-shadow: none;
}
.site{
	color: #ddcaa0;
  font-family: Times, serif;
  position: relative;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 6px;
  line-height: 22px;
  margin: 0;
  padding-left: 1vw ;
  font-weight: 300;
  text-shadow: -1px 0 1px #d1c29e, 0 1px 1px #dbcca5, 5px 5px 10px rgb(8 8 8 / 40%), -5px -5px 10px rgb(8 8 8 / 40%);
}
.site span + span {
	margin: 10px;
  font-size: 1vw;
  letter-spacing: 5px;
  padding-left: 1vw ;
}
.site span:before {
content: attr(data-double);
  left: 0;
  top: 0;
  position: absolute;
  padding-left: 1vw ;
  z-index: 1;
  background: linear-gradient(to bottom, #a19170 14%,#7c6845 16%, #95876a 20%, #938568 22%,#f9e5ab 40%,#58492a 84%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgb(0 0 0 / 0%);
  text-shadow: none;
}
.golgl{
	color: #ddcaa0;
  font-family: Times, serif;
  text-transform: uppercase;
  
  text-shadow: -1px 0 1px #d1c29e, 0 1px 1px #dbcca5, 5px 5px 10px rgb(8 8 8 / 40%), -5px -5px 10px rgb(8 8 8 / 40%);
}
.golgl span + span {
}
.golgl span:before {
content: attr(data-double);
  z-index: 1;
  background: linear-gradient(to bottom, #a19170 14%,#7c6845 16%, #95876a 20%, #938568 22%,#f9e5ab 40%,#58492a 84%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgb(0 0 0 / 0%);
  text-shadow: none;
}
.site2{
	color: #ddcaa0;
  font-family: Times, serif;
  position: relative;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 6px;
  line-height: 22px;
  margin: 0;
  padding-left: 1vw ;
  font-weight: 300;
  text-shadow: -1px 0 1px #d1c29e, 0 1px 1px #dbcca5, 5px 5px 10px rgb(8 8 8 / 40%), -5px -5px 10px rgb(8 8 8 / 40%);
}
.site2 span + span {
	margin: 10px;
  font-size: 1vw;
  letter-spacing: 5px;
  padding-left: 1vw ;
}
.site2 span:before {
content: attr(data-double);
  left: 0;
  top: 0;
  position: absolute;
  padding-left: 1vw ;
  z-index: 1;
  background: linear-gradient(to bottom, #a19170 14%,#7c6845 16%, #95876a 20%, #938568 22%,#f9e5ab 40%,#58492a 84%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgb(0 0 0 / 0%);
  text-shadow: none;
}
aside {
   width: 33%;
   float: right;
   background-color:gray;
   
}
.posts-list {
   margin-bottom: 30px;
   width: 64%;
   float: left;
   padding:10PX;
}
.post-title{
	font-size:50PX;
	margin: 30px;
	padding-top:40PX;
	padding:10PX;
	COLOR:WHITE;
}
.more-link {
   position: relative;
   display: inline-block;
   font-size: 10px;
   text-transform: uppercase;
   color: white;
   line-height: 44px;
   padding: 0 22px;
   background:  	#98AFC7;
   letter-spacing: 0.1em;
   white-space: nowrap;
   padding:10PX;
}
.more-link:after {
   content: '';
   display: block;
   position: absolute;
   width: 0;
   height: 0;
   top: 0;
   right: 0;
   border: solid transparent;
   border-width: 22px 18px;
   border-left-color:  	#98AFC7;
   transform: translateX(100%);
   padding:10PX;
}
.image1{
	background-image:url('girl1.gif');
	width:300px;
	 background-size:cover;
	height:255px;
}
.map{
	background-image:url('https://64.media.tumblr.com/0ea660d640074f6c0f3998728d33d292/dc5e4019096aa171-7d/s500x750/d8f0bdc4307d205e9af3e79fc568b90c9d28180b.gifv');
	width:230px;
	 background-size:cover;
	height:210px;
	position:absolute;
	top:100px;
	left:43%;
}
.massa{
	background-image:url('massa.jpg');
	width:230px;
	 background-size:cover;
	height:210px;
	position:absolute;
	top:100px;
	left:43%;
}
.time{
	background-image:url('time.gif');
	width:230px;
	 background-size:cover;
	height:210px;
	position:absolute;
	top:100px;
	left:43%;
}

.calculator {
            width: 250px;
            margin: 40px auto;
            padding: 10px;
            border: 2px solid #ccc;
            border-radius: 5px;
            text-align: center;
        }

.buttons button {
            width: 30px;
            height: 30px;
            margin: 3px;
            font-size: 16px;
            border: none;
            cursor: pointer;
        }

.buttons button:hover {
            background-color: #efefef;
        }
		